In [10]:
cash=input('enter your amount')
enterAmount=int(cash)
totalCash=5000
remainingAmount=enterAmount-totalCash
print(remainingAmount,end=" ")
print("thanks for using")

enter your amount100
-4900 thanks for using

In [13]:
#splitmethod
pin,cash=input('enter your amount and pin').split('=')
enterAmount=int(cash)
totalCash=5000
remainingAmount=enterAmount-totalCash
print(remainingAmount,end=" ")
print("thanks for using")

enter your amount and pin1100=3658
-1342 thanks for using

In [14]:
#we canuse the comma in print section
pinNumber,amountEnter=input('Enter pin numberand amount').split('/')
print(pinNumber,amountEnter)

Enter pin numberand amount7825/1000
7825 1000

In [19]:
#chapter 10 format() method to assigne placeholder to print
cash,pin=input('enter your amount and pin').split('=')
enterAmount=int(cash)
totalCash=5000
remainingAmount=totalCash-enterAmount
#print(remainingAmount,end=" ")
#print("thanks for using")
print('your account balance is {},your entered amount is{}'.format(remainingAmount,enterAmount))

enter your amount and pin1000=8956
your account balance is 4000,your entered amount is1000

In [24]:
#arthmatic oprator method
a=10
b=10
print("addition",a+b)
print("substraction",a-b)
print("multiplication",a*b)
print("divition",a/b)#cocient using decimal 
print("//",a//b)#cocient no decimal value using
print("%",a%b)#remainder
print("**",a**b)#power

addition 20
substraction 0
multiplication 100
divition 1.0
// 1
% 0
** 10000000000

In [4]:
#find age off the person by asking birth year
age=input('Enter Your Birth Year')
enterAge=int(age)
currentYear=2022
findAge=currentYear-enterAge
print("Age=",findAge)

Enter Your Birth Year1999
Age= 23

In [1]:
#Numric (int,float,complex)
marks=383
persentage=(marks/600)*100
print("persentage",persentage)
print(type(marks))
print(type(persentage))

persentage 63.83333333333333
<class 'int'>
<class 'float'>

In [5]:
#complex if we call real number or imagner number then we simply write" x.real"
#if wewant to change the + to - then simple we can write c
x=8+6j
y=9+4j
print(type(x))
print(x.real)
print(x.imag)
print(x.conjugate())
print(x+y)

<class 'complex'>
8.0
6.0
(8-6j)
(17+10j)

In [9]:
#string is three  types '',"",""" if we write multiple line in a string then we use '''
#if we check the length of the stringthen we use print(len(veriable))
#it will also count the space not onlly character 

statment1="hi this is nunmber . let's see what will be happen"
print(len(statment1))
statment2="""hi all of you .if find this number"1000" in decimal"""
print(statment2)

50
hi all of you .if find this number"1000" in decimal

In [6]:
#it will write in a square braket[]
#string accessing the index
#star end step
#step is always by default set in 1
print("string")
bharat="bharat kumar patri"
#       0123456789
print(len(bharat))
print(bharat[0])
print(bharat[0:4:2])
print(bharat[2:7:3])
print(bharat[::-1])

string
18
b
ba
at
irtap ramuk tarahb

In [7]:
#string oprations
#+ is use marge two strings
#*is use repeat the same string
bharat="bharat you are great"+" because you saved a life "
bharat1="bharat kumar patri"*4
print(bharat)
print(bharat1)

bharat you are great because you saved a life
bharat kumar patribharat kumar patribharat kumar patribharat kumar patri

In [9]:
'''string membership test
it is two types in and  not in
'''
bharat="bharat kumar patri"
print("kumar" in bharat)
print("kumar" not in bharat)

True
False

In [1]:
#list
#it can take int,string,tuple ets kin of data type
#list is always write in a square braket "[]" ok
marks=[35,45,36,44,40]
print(type(marks))
marks[0]=50
print(marks)

<class 'list'>
[50, 45, 36, 44, 40]

In [12]:
friends=["vhandan","kumar","mitu","kishor"]
print(friends)
print('friends count',len(friends))
print('secend friend',friends[1])
print('third friend',friends[3])

['vhandan', 'kumar', 'mitu', 'kishor']
friends count 4
secend friend kumar
third friend kishor

In [1]:
#how to print one list data into another list
riends=["vhandan","kumar","mitu","kishor"]
extraFriends=["Bharat","Suresh","Vishnu",friends]f
print(extraFriends)

['Bharat', 'Suresh', 'Vishnu', ['vhandan', 'kumar', 'mitu', 'kishor']]

In [2]:
#nested list how to call
friends=["vhandan","kumar","mitu","kishor"]
extraFriends=["Bharat","Suresh","Vishnu",friends]
#i have to take the index number to access the another list so i have to take 3 
#in this 3 list it having another list so we have to call a particular index
print(extraFriends[3][1])

kumar

In [4]:
#how to add a new data in to this list
#We use .append()oprator
friends=["vhandan","kumar","mitu","kishor"]
friends.append("chinna")
print(friends)

['vhandan', 'kumar', 'mitu', 'kishor', 'chinna']

In [5]:
# If we want to add multiple data in to the list
# Here we .extend()oprator
#we have to put a string on the list
friends=["vhandan","kumar","mitu","kishor"]
friends.append(["chinna","Rahul","Srinivas"])
print(friends)

['vhandan', 'kumar', 'mitu', 'kishor', ['chinna', 'Rahul', 'Srinivas']]

In [6]:
#How to add a specific postion
# .insert (postion,value)
friends=["vhandan","kumar","mitu","kishor"]
friends.insert(2,"chandan")
print(friends)

['vhandan', 'kumar', 'chandan', 'mitu', 'kishor']

In [7]:
# IF we insert multiple value in a specific postion so we scliing method
friends=["vhandan","kumar","mitu","kishor"]
#assign star ting and ending point of the number of index
friends[1:1]=["puja","mithun","Bipin"]
print(friends)

['vhandan', 'puja', 'mithun', 'Bipin', 'kumar', 'mitu', 'kishor']

In [10]:
# Delete /Remove list items
friends=["vhandan","kumar","mitu","kishor"]
del friends[0]
print(friends)
#if we remove multiple items in a list
friends=["vhandan","kumar","mitu","kishor"]
del friends[0:2]
print(friends)

['kumar', 'mitu', 'kishor']
['mitu', 'kishor']

In [11]:
# if we have a long list so we can't calculate that specific index number so we use .remove("item") operator

friends=["vhandan","kumar","mitu","kishor"]
friends.remove("kumar")
print(friends)

['vhandan', 'mitu', 'kishor']