In [10]:
cash=input('enter your amount')
enterAmount=int(cash)
totalCash=5000
remainingAmount=enterAmount-totalCash
print(remainingAmount,end=" ")
print("thanks for using")

enter your amount100
-4900 thanks for using

In [ ]:
#splitmethod
cash=input('enter your amount and pin').split('=')
enterAmount=int(cash)
totalCash=5000
remainingAmount=enterAmount-totalCash
print(remainingAmount,end=" ")
print("thanks for using")

In [3]:
#pracktice string
bharat=input("enter a sentence")
bharat1=str(bharat)
print("bharat1")
print(bharat1[::-1])
print(bharat1[3:5:2])
print(bharat1[2:5:-6])

enter a sentencebharat kumar patri
bharat1
irtap ramuk tarahb
r

In [1]:
#tuple
#parenthisis ()
marks=(90.50,70.35,66)
print(type(marks))

<class 'tuple'>

In [4]:
#Boolean method we onlly use True or False  bool()
subscribed= True
print(type(subscribed))
a=5
b=5
print(type(a==b))
#if we have positive or nagative number then it become it true
#if we have zero va;lues then it will consideras false
print(bool(a))

<class 'bool'>
<class 'bool'>
True

In [8]:
#     SET
heros={"prabhas","surya","vijya talapathi","ram","alu arjun","prabhas"}
#it will not consider duplecate items 
#create empty set
emptySet=set()

#set()it is aempty function
#add new hero
heros.add("bharat")
print(heros)

{'ram', 'surya', 'alu arjun', 'prabhas', 'bharat', 'vijya talapathi'}

In [8]:
#Dictionary
#unordered of collection of items
#mutable
#it based on ke:value
 #   value can be duplicate but key can't be duplicate
#    
#    we can also use dict() key word
myBiodata={"name":"bharat","address":"c/o harinath","phone no":"8917260896"}
print(type(myBiodata))
information={"college":"GIET","info":myBiodata}
print(information)
#Accessing method
print(information["college"])
print(information.get("college"))
#how to update the values
information["college"]="KIIT"
#add a new key and value on current dictionary
information["join"]="yes"
print(information)

<class 'dict'>
{'college': 'GIET', 'info': {'name': 'bharat', 'address': 'c/o harinath', 'phone no': '8917260896'}}
GIET
GIET
{'college': 'KIIT', 'info': {'name': 'bharat', 'address': 'c/o harinath', 'phone no': '8917260896'}, 'join': 'yes'}

In [4]:
#control Flow  Using if else:
#initilization is madtory
lastBall=6
if lastBall==2:
    print("won the match")
else:
    print("lost the match")

lost the match

In [6]:
#nested if 
#if inside another if then it is called nested if
number=int(input("enter a number"))
if(number%2==0): 
    if(number%4==0):
      print("congrates both 2 and 4 are devided")
    else:
      print("sorry")
    
else:
      print("sorry")

enter a number8
congrates both 2 and 4 are devided

In [5]:
#write aprogram to check wether the number is even or odd
number=int(input("enter a number"))
if(number%2==0): #(% modular) will provide remainder 
    print("the number is even")
else:
    print("the number is odd")

enter a number5
the number is odd

In [52]:
#if-elif

rank=int(input("enter your rank"))
if rank<=1000:
    
        print("you got college KIIT")
elif rank>1000 and rank<=10000: #it mens rank grter then 1000 and less then 10000 then it will choose college 2
        print("you got GIET ")
elif rank>10000 and rank<=40000:
        print("you got NIT")
else:
        print("your are not eligible ")

enter your rank3000
you got GIET

In [51]:
8

8

In [1]:
#Shortand ifelse method
#first we have to write the true statment and the we write condition then we write the false conditio
x=10
print('even') if (x%2==0) else print('odd')

even

In [2]:
#for loop
numberList=[10,20,30,90,60,70]
for bharat in numberList:
    print(bharat)
#if we want to multiply all the number by using a paticular number
numberList=[10,20,30,90,60,70]
for bharat in numberList:
    print(bharat*5)

10
20
30
90
60
70
50
100
150
450
300
350

In [1]:
#print character using for loop to print in sequence
name='suresh'
for bharat in name:
    print(bharat)

s
u
r
e
s
h

In [2]:
#print 0 to 10 usiing for loop
for Bharat in range (11):
    print(Bharat)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#print 1 to 100 using for loop
for Bharat in range(1,101):
    print(Bharat)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
#print 100 to 1 using for loop if we decrement so we have to use -1 step option
for Bharat in range(100,0,-1):
    print(Bharat)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [5]:
#write a program to print last 2 character in your nameand repeat it 1 to 10
name=input("enter your name")
lastTwo=name[-2:]
for Bharat in range (1,11):
    print(lastTwo*Bharat)

enter your nameBharat
at
atat
atatat
atatatat
atatatatat
atatatatatat
atatatatatatat
atatatatatatatat
atatatatatatatatat
atatatatatatatatatat

In [7]:
#write a program to print last 2 character in your nameand repeat it 1 to 6
name=input("enter your name")
lastTwo=name[-2:]
for Bharat in range (1,6):
    print(lastTwo*Bharat)

enter your nameBharat
at
atat
atatat
atatatat
atatatatat

In [8]:
#print in reverse order
name=input("enter your name")
lastTwo=name[-2:]
for Bharat in range (6,0,-1):
    print(lastTwo*Bharat)

enter your nameBharat
atatatatatat
atatatatat
atatatat
atatat
atat
at

In [4]:
markes=[40,60,50,33,42,73]
sum=0
for mark in markes:
    sum=sum+mark
    print('Total sum',sum)

Total sum 40
Total sum 100
Total sum 150
Total sum 183
Total sum 225
Total sum 298

In [5]:
bharat=1
while bharat<10:
    print(bharat)
    bharat=bharat+1

1
2
3
4
5
6
7
8
9

In [7]:
import random
score = 0
scoreInfo= []
while score<500:
    scoreValue=(random.randint(1,30)) #randome is a library
    score=score+scoreValue
    scoreInfo.append(scoreValue)#i have to put the score value int score info
    print('Total Flips',len(scoreInfo),scoreInfo,score)

Total Flips 1 [30] 30
Total Flips 2 [30, 5] 35
Total Flips 3 [30, 5, 20] 55
Total Flips 4 [30, 5, 20, 30] 85
Total Flips 5 [30, 5, 20, 30, 19] 104
Total Flips 6 [30, 5, 20, 30, 19, 2] 106
Total Flips 7 [30, 5, 20, 30, 19, 2, 24] 130
Total Flips 8 [30, 5, 20, 30, 19, 2, 24, 2] 132
Total Flips 9 [30, 5, 20, 30, 19, 2, 24, 2, 20] 152
Total Flips 10 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28] 180
Total Flips 11 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27] 207
Total Flips 12 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25] 232
Total Flips 13 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21] 253
Total Flips 14 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25] 278
Total Flips 15 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6] 284
Total Flips 16 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3] 287
Total Flips 17 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24] 311
Total Flips 18 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11] 322
Total Flips 19 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15] 337
Total Flips 20 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17] 354
Total Flips 21 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16] 370
Total Flips 22 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6] 376
Total Flips 23 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21] 397
Total Flips 24 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1] 398
Total Flips 25 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8] 406
Total Flips 26 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8, 6] 412
Total Flips 27 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8, 6, 2] 414
Total Flips 28 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8, 6, 2, 28] 442
Total Flips 29 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8, 6, 2, 28, 24] 466
Total Flips 30 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8, 6, 2, 28, 24, 12] 478
Total Flips 31 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8, 6, 2, 28, 24, 12, 10] 488
Total Flips 32 [30, 5, 20, 30, 19, 2, 24, 2, 20, 28, 27, 25, 21, 25, 6, 3, 24, 11, 15, 17, 16, 6, 21, 1, 8, 6, 2, 28, 24, 12, 10, 18] 506

In [3]:
#Function program it use when we have a repeted logic on that time we use function
#function allways represent in def

def evenOrOdd(number):
    if(number%2==0):
        print("{} is even".format(number))
    else:
        print("{} is odd".format(number))
evenOrOdd(18)
evenOrOdd(19)
evenOrOdd(22)

18 is even
19 is odd
22 is even

In [4]:
#Docstring it is used to when we have lots of function in a project on that time we don't know about the work of the function so we
#we can write
def evenOrOdd(number):
    "It is a even or odd function"
    if(number%2==0):
        print("{} is even".format(number))
    else:
        print("{} is odd".format(number))
evenOrOdd(18)
evenOrOdd(19)
evenOrOdd(22)
print(evenOrOdd.__doc__)

18 is even
19 is odd
22 is even
It is a even or odd function

In [5]:
print(print.__doc__)
print(type.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [6]:
# return method
def multPle(number):
    cube=number*number*number
    return cube
result= multPle(7)
print(result)

343

In [10]:
#reference method
def calculate(myMarks):
    myMarks[2]=50
marks=[50,60,90,70,75,52]
calculate(marks)
print(marks)

[50, 60, 50, 70, 75, 52]

In [11]:
def calculate(myMarks):
    myMarks=[50,696,45]
marks=[50,60,90,70,75,52]
calculate(marks)
print(marks)

[50, 60, 90, 70, 75, 52]

In [12]:
def luckeyNumber(number):
    number=20
    return number
number=10
print(luckeyNumber(number))
print(number)

20
10

In [13]:
def luckeyNumber(number):
    number=20
    number=30
    return number
number=10
print(luckeyNumber(number))
print(number)

30
10

In [14]:
def bharatKumar(x=56):
    print(x)
bharatKumar(70)
bharatKumar()

70
56